.global__header {
	background-color: #fff;
	color: $primary-text-color;
	.brand {
		.brand__name,
		.brand__motto {
			display: block;
		}
		.brand__name {
			font-weight: $fw-thin;
			font-size: $font-size-2;
			margin-bottom: $gutter-xs;
		}
		.brand__motto {
			opacity: .7;
		}
	}
	.contacts {
		margin-bottom: 0;
		font-style: normal;
		
		@include breakpoint($tablet) {
			text-align: right;
		}
		.contact__info {
			display: block;
			margin-bottom: $gutter-xs;
		}
	}
	.row {
		@include breakpoint($tablet) {
			@include flex-direction(column);
		}
		@include breakpoint($web) {
			@include flex-direction(row);
			@include align-items(center);
		}
	}
	.logo {
		text-align: center;
		.logo__img {
			@include logo(regular);
			margin-left: auto;
			margin-right: auto;
		}
	}
	.welcome,
	.news,
	.page-header {
		position: relative;
		z-index: 25;
	}
	.welcome,
	.news {
		@include breakpoint($web) {
			@include span(1 of 2);
		}
	}
	.welcome {
		padding-left: 0;
	}
	.news {
		padding-right: 0;
	}
}