.contact {
	@include container();
	.contact__map,
	.contact__content {
		height: 100%
	}
	.contact__map {
		@include span(2 of 3);
		position: relative;
		
		iframe {
			@include position(absolute, 0 0 0 0);
			width: 100%;
			height: 100%;
		}
	}
	.contact__content {
		@include span(1 of 3);
		background: $primary-color;
		color: $primary-color-text;
		padding: $gutter-lg;
	}
}