.gallery {
	.article {
		margin-bottom: 0;
	}
}
.img__grid {
	@include container();
	
	.grid-item {
		@include span(1 of 6);
		position: relative;
		margin-bottom: $gutter;
		
		.img {
			position: relative;
			z-index: 0;
			
			background: $primary-color;
			border: 3px solid $primary-color;
			border-radius: $border-radius;
			display: block;
			
			width: 100%;
			height: 125px;
			
			object-fit: cover;
			object-position: top left;
		}
		.img__caption {
			@include position(absolute, 0 0 0 0);
  			margin: 0 auto;
			z-index: 10;
			padding: $gutter-xs $gutter-sm;
			color: white;
			
			background: $primary-color;
		}
		
		&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(8) {
			@include span(2 of 6);
		}
		
		&:nth-child(1) {
			.img {
				height: 250px + $gutter;
			}
		}
	}
}