.welcome {
	@include container();
	.welcome__statement,
	.welcome__news {
		@include span(1 of 2);
		@include padding($gutter $gutter-lg);
	}
	.welcome__statement {}
	.welcome__news {
		background: $primary-color-light;
		background-size: cover;
		
		.article {
			font-size: $small-font-size;
			line-height: $small-line-height;
		}
	}
}