$carousel-height: 70vh;
.global__carousel {
	width: 100%;
	height: $carousel-height;
	overflow: hidden;
	.carousel {
		height: 100%;
		.slick-prev,
		.slick-next {
			background-color: transparent;
			color: $primary-color;
			width: 50px;
			height: 50px;
			text-align: center;
			&::before {
				color: #fff;
				position: relative;
				z-index: 10;
			}
			&::after {
				content: '';
				width: 50px;
				height: 50px;
				background: $primary-color;
				@include position(absolute, 0 null null 0);
				@include transform(rotate(0deg));
				@include transition(transform .25s ease-in-out);
				z-index: 0;
			}
			&:hover {
				&::after {
					@include transform(rotate(-45deg));
					@include transition(transform .25s ease-in-out);
				}
			}
		}
		.carousel__img {
			width: 100%;
			height: 100%;
			margin-top: 0;
			background-color: red;
			.img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center left;
			}
		}
		//		&::before {
		//			content: '';
		//			background: #000 url('assets/img/bg-dots-grey.png') no-repeat;
		//			background-size: cover;
		//			width: 100%;
		//			height: 100%;
		//			position: absolute;
		//			top: 0;
		//			z-index: 5;
		//			opacity: .5;
		//		}
	}
}