.album {
	position: relative;
	
	.album__count {
		background: rgba(0,0,0,.75);
		color: $primary-color-text;
		padding: $gutter-xs $gutter-sm;
		@include position(absolute, 0 0 null null);
		z-index: 10;
	}
	.album__cover {
		position: relative;
		height: 200px;
		overflow: hidden;
		
		&:before {
			content: 'Open Album';
			display: block;
			background: $primary-color;
			color: $primary-color-text;
			font-size: $small-font-size;
			text-align: center;

			padding: $gutter-sm $gutter;
			@include position(absolute, null 0 -100px 0);
			z-index: 10;

			@include transition(all .15s ease-in-out);
		}
		
		.img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transform(scale(1.0));
			@include transition(all .35s ease-in-out);
		}
	}
	.album__caption {
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		background: #F0F3F4;
		padding: $gutter;
		
		text-align: center;
	}
	.album__name {
		color: $accent-color;
		font-size: $font-size-5;
		display: block;
	}
	.album__descr {
		font-size: $small-font-size;
	}
	&:hover {
		@include transition(all .35s ease-in-out);
		.album__cover {
			&:before {
				bottom: 0;
				@include transition(all .15s ease-in-out);
			}
			.img {
				@include transform(scale(1.1));
				@include transition(all .35s ease-in-out);
			}
		}
	}
}

.gallery {
	@include container();
	
	.album__container {
		@include span(1 of 3);
		margin-bottom: $gutter-lg;
	}
}