.global__content {
	.global__content-header {
		background-color: $primary-color-light;
		position: relative;
		
		.global__cover {
			@include position(absolute, 0 0 0 0);
			object-fit: cover;
		}
	}
	.global__content-nav {
		background-color: $primary-color-light;
		@include container();
		@include span(1 of 3);
		max-width: 50vw;
		min-width: 25vw;
		padding: 0;
		.nav {
			.nav__header {
				padding-left: $gutter;
			}
			.nav__item, .page_item {				
				&:hover, &.current_page_item {
					background: #fff;
				}
				.nav__link, a {
					padding: $gutter-sm $gutter;
					display: inherit;
				}
			}
			&:not(:first-child) {
				margin: $gutter 0;
			}
		}
	}
	global__content-body {
		@include container();
		@include span(1 of 3);
	}
}