.global__footer {
	background-color: $primary-color-light;
	color: $primary-text-color;
	
	.nav__item-container {
		@include flex(1);
		@include flex-direction(column);
	}
	
	.footer__level-1 {
		.logo {
			display: none;
			margin-top: $font-size-3;
			.logo__img {
				width: 100px;
				height: 150px;
			}
		}
		@include breakpoint($tablet) {
			margin-bottom: $gutter-lg;
		}
		@include breakpoint($web) {
			.logo {
				display: block;
			}
		}
		.nav {
			@include breakpoint($tablet) {
				@include span(1 of 3);
			}
			@include breakpoint($web) {
				@include span(1 of 4);
			}
			.nav__item,
			.nav__link {
				margin-bottom: $gutter-xs;
			}
		}
	}
	.footer__level-2 {
		.nav {
			font-size: $small-font-size;
			@include breakpoint($web) {
				@include flex-direction(row);
				@include justify-content(flex-end);
			}
			.nav__link {
				&:not(:first-child) {
					&::before {
						@include breakpoint($tablet) {
							margin-bottom: $gutter-xs;
						}
						@include breakpoint($web) {
							content: '/';
							opacity: .5;
							margin: 0 $gutter-sm;
						}
					}
				}
			}
		}
		@include breakpoint($web) {
			text-align: right;
			.row {
				margin-bottom: $gutter-xs;
			}
		}
	}
}