.global__nav {
	background: $primary-color;
	.wrapper {
		@include padding(0 null);
	}
	.nav {
		.nav__item-container {
			@include flex-direction(row);
			@include justify-content(center);
			flex-wrap: wrap;
			font-size: $small-font-size;
		}
		.nav__item {
			position: relative;
			@include breakpoint($mobile) {
				@include span(1 of 2);
			}
			@include breakpoint($tablet) {
				@include span(1 of 4);
				padding: 0;
			}
			@include breakpoint($web) {
				width: auto;
				height: 50px;
				overflow: hidden;
			}
			.nav__link {
				color: #fff;
				padding: $gutter-sm $gutter;
				text-align: center;
				opacity: .7;
				text-transform: uppercase;
				white-space: nowrap;
			}
			.sub-menu {
				@include position(absolute, 0 null null null);
				@include display(flex);
				@include flex-direction(column);
				z-index: 1000;
				background: $accent-color;
				margin: 0;
				z-index: -1;
				@include transition(position .35s ease-in-out);
				.nav__link {
					color: #fff;
					text-align: left;
				}
			}
			&.current-nav__item,
			&:hover,
			&:focus,
			&:active {
				background-color: #fff;
				> .nav__link {
					display: inherit;
					color: $primary-color;
					opacity: 1;
				}
			}
			&:hover,
			&:focus,
			&:active {
				overflow: visible;
				.sub-menu {
					top: 50px;
					z-index: 10;
					@include transition(position .35s ease-in-out);
				}
			}
		}
		.sub-menu {
			.nav__item {
				&:hover {
					.sub-menu {
						left: 100%;
						top: 0;
					}
				}
			}
		}
	}
}