.logo {
	@include container;
	color: inherit;
	object-fit: contain;
	position: relative;
	z-index: 25;
	
	.logo__img,
	.logo__name,
	.logo__motto {
		display: block;
	}
	
	.logo__img {
		background: transparent url('assets/img/logo_eggar.png') no-repeat;
		background-size: contain;
	}
	.logo__name {
		font-size: $font-size-1;
		font-weight: $fw-thin;
	}
	
	.logo__motto {
		opacity: .7;
	}
}