html {
	font-size: 1em;
}

body {
	font-family: $base-font-family, $helvetica;
	font-size: golden-ratio(12px, 1);
	line-height: $base-line-height;
	color: $primary-text-color;
	@include breakpoint($tablet) {
		content: 'tablet mode';
		font-size: 1.1em;
	}
	@include breakpoint($web) {
		content: 'web mode';
		font-size: $base-font-size;
	}
	@include breakpoint($hd) {
		content: 'hd mode';
		font-size: 1.1em;
	}
}

h1,
h2,
h3,
h4 {
	font-family: $headings-font-family;
	font-weight: inherit;
	line-height: 1.2;
	margin: $font-size-3 0 0.5em;
}

h1 {
	margin-top: 0;
	font-size: $font-size-1;
}

h2 {
	font-size: $font-size-2;
}

h3 {
	font-size: $font-size-3;
}

h4 {
	font-size: $font-size-4;
}

small,
.font_small {
	font-size: 0.833em;
}

p {
	margin-bottom: $base-line-height;
}

a {
	color: $primary-color;
	text-decoration: none;
}