.nav {
	@include breakpoint($tablet) {}
	
	.nav__item-container {
		@include display(flex);
		@include flex-direction(column);
		margin: 0;
		
		.nav__item, .page_item {
			list-style: none;			
			
			.nav__link {
				display: inherit;
			}
		}
	}
	.nav__header {
		font-size: $font-size-4;
		font-weight: $fw-bold;
		margin-bottom: $gutter-sm;
	}
}