.article {
	margin-bottom: $gutter;
	.article__date {
		opacity: .35;
	}
	.article__title {
		color: $primary-color;
		font-size: $font-size-4;
		font-weight: $fw-bold;
		margin: $gutter-xs 0;
	}
	.article__intro {
		margin-bottom: 0;
	}
	.article__content {}
	&:not(:first-child) {
		border-top: 1px dotted $divider-color;
			margin-bottom: $gutter;
			padding-top: $gutter;
	}
}

.article-list {
	.article {
		margin-bottom: $gutter-lg;
		&:not(:first-child) {
			border-top: 1px dotted $divider-color;
			padding-top: $gutter-lg;
		}
		.article__meta {
			margin-bottom: $gutter-sm;
		}
		.article__intro {
			color: $secondary-text-color;
		}
	}
}


.article-grid {
	@include container();
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(wrap);
	padding: 0;
	.article-grid__item {
		width: 30%;
		@include display(flex);
		@include flex-direction(row);
		margin: $gutter-sm;
		.article {
			flex: 1;
			padding: $gutter-md;
			margin: 0;
			background: $primary-color-light;
			border: 3px solid transparent;
			position: relative;
			z-index: 10;
			@include transition(border .25s ease-in-out);
			&:not(:first-child) {
				border: none;
			}
			&:after {
				content: '';
				@include position(absolute, $gutter-md);
				margin: auto;
				z-index: 0;
			}
			.article__meta {
				margin-bottom: $gutter-sm;
			}
			.article__intro {
				color: $secondary-text-color;
			}
		}
		&:hover {
			.article {
				border-color: $primary-color;
				@include transition(border .25s ease-in-out);
			}
		}
	}
}