$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color:        #39473D;
$primary-color-light:  #EEEEEE;
$primary-color-text:   #FFFFFF;
$accent-color:         #E0342F;
$primary-text-color:   #333333;
$secondary-text-color: #646a72;
$divider-color:        #B6B6B6;