@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500|Rubik:400);

$base-font-family: 'Work Sans';
$base-line-height:	24px;
$base-font-size:	16px;

$small-font-size:	14px;
$small-line-height:	20px;

$headings-font-family: 'Rubik';

$rhythm-unit: "em";

$lead-line-height: 28px;

$fw-thin:		300;
$fw-regular:	400;
$fw-bold:		500;

$font-size-1: 2.074em;
$font-size-2: 1.618em;
$font-size-3: 1.44em;
$font-size-4: 1.333em;
$font-size-5: 1.2em;