$logo-lg-x: 200px		!default;
$logo-lg-y: 150px		!default;
$logo--x: 150px			!default;
$logo--y: 100px			!default;
$logo-sm-x: 100px	!default;
$logo-sm-y: 50px	!default;

@mixin logo($size) {
	@if $size == "large" {
		width: $logo-lg-x;
		height: $logo-lg-y;
	}
	@if $size == "regular" {
		width: $logo--x;
		height: $logo--y;
	}
	@if $size == "small" {
		width: $logo-sm-x;
		height: $logo-sm-y;
	}
}